In [ ]:
## save the datatable as csv file

In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('Sequence-info.csv',sep=',')
data["SequenceT2U"]=data["Sequence"].str.replace("T","U").fillna(data["Sequence"])
data.head()

,Ribozyme,Meta,Seqlen,Species,Rfam-ID,Sequence,SequenceT2U
0,Vg1 mRNA,AAMC03002910.1/22879-22762,118,Xenopus tropicalis,RF01865,AATGATGATGATAATGTAATGTGGTGATTGCTCTGTTTCACTAAAA...,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...
1,Vg1 mRNA,BC090232.1/1587-1727,141,Xenopus laevis,RF01865,GAUGUUGUUAAUAAUAAUAUCUUAGAAGAACAUGGUAUAUAACCUG...,GAUGUUGUUAAUAAUAAUAUCUUAGAAGAACAUGGUAUAUAACCUG...
2,Vg1 mRNA,AF041844.1/1541-1679,139,Xenopus borealis,RF01865,AAUAAUAAUAAUAAUAAUAUCUUGGAAAAACAGGGUAUAUAAACCA...,AAUAAUAAUAAUAAUAAUAUCUUGGAAAAACAGGGUAUAUAAACCA...
3,Vg1 mRNA,CR855548.2/1536-1653,118,Xenopus tropicalis,RF01865,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...
4,Vg1 mRNA,BC161554.1/1544-1661,118,Xenopus tropicalis,RF01865,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...

In [2]:
## 1.delete the sequence include T
df=data.drop(["Sequence"],axis=1)
df.head()

,Ribozyme,Meta,Seqlen,Species,Rfam-ID,SequenceT2U
0,Vg1 mRNA,AAMC03002910.1/22879-22762,118,Xenopus tropicalis,RF01865,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...
1,Vg1 mRNA,BC090232.1/1587-1727,141,Xenopus laevis,RF01865,GAUGUUGUUAAUAAUAAUAUCUUAGAAGAACAUGGUAUAUAACCUG...
2,Vg1 mRNA,AF041844.1/1541-1679,139,Xenopus borealis,RF01865,AAUAAUAAUAAUAAUAAUAUCUUGGAAAAACAGGGUAUAUAAACCA...
3,Vg1 mRNA,CR855548.2/1536-1653,118,Xenopus tropicalis,RF01865,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...
4,Vg1 mRNA,BC161554.1/1544-1661,118,Xenopus tropicalis,RF01865,AAUGAUGAUGAUAAUGUAAUGUGGUGAUUGCUCUGUUUCACUAAAA...

In [3]:
##1.save the table into csv file
df.to_csv("SequenceT2U-info.csv", sep=',', index=False)

In [ ]:
##2.save two types sequence

In [4]:
data.to_csv("Sequence-SequenceT2U-info.csv", sep=',', index=False)